* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    margin: 100px 0;
}

.main {
    background: #f8f8f8;
}

.nav-section {
    height: 100%;
    width: 100%;
    background-image: url(./assets/bg-img.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.btn-color {
    background-color: hsl(227, 40%, 79%, 1);
}

.pic {
    position: relative;
    height: 500px;
}

.img-1 {
    position: absolute;
    top: -100px;
    left: -400px;
}
.img-2 {
    position: absolute;
    top: -90px;
    left: -610px;
}

.box-1,
.box-2 {
    height: 400px;
}

.shoh {
    padding: 0;
    margin: 0;
}

.main-h1 {
    color: hsl(300, 10%, 52%, 1);
}

.pay {
    color: hsl(300, 30%, 33%);
}

.learn {
    color: hsl(300, 30%, 33%);
    text-decoration: none;
}

.section-md {
    margin-top: 180px;
}

.lines {
    height: 160px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-left: 4px solid darkblue;
}

.main_part {
    margin: 0;
}

.color {
    color: hsl(300, 10%, 52%, 1);
}

.logos {
    width: 100%;
    height: auto;
}
.logos .container {
    display: flex;
    justify-content: center;
}
.logos .container .content {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.main_part .container .top_part {
    width: 100%;
    height: auto;
}
.main_part .container .top_part .div {
    width: 500px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_part .container .top_part .div img {
    mix-blend-mode: multiply;
}

.main_part .container .top_part .div .div_card {
    position: relative;
    width: 345px;
    height: 255px;
}

.main_part .container .top_part .div .div_card .h2 {
    color: #857885;
}
.main_part .container .top_part .div .div_card .color {
    color: #5c0e62;
}
.main_part .container .top_part .div .div_card .gradient {
    background-image: url(../images/mini_gradient.svg);
    width: 80px;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
}
.main_part .container .top_part .div .div_card h5 {
    color: #e23434;
}
.main_part .container .middle_part {
    width: 100%;
    height: auto;
}
.main_part .container .middle_part .div {
    width: 500px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_part .container .middle_part .div .div_card {
    position: relative;
    width: 345px;
    height: 255px;
}
.main_part .container .middle_part .div .div_card .h2 {
    color: #857885;
}
.main_part .container .middle_part .div .div_card .color {
    color: #5c0e62;
}
.main_part .container .middle_part .div .div_card .gradient {
    background-image: url(../images/mini_gradient.svg);
    width: 80px;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
}
.main_part .container .middle_part .div .div_card h5 {
    color: #e23434;
}
.main_part .container .middle_part .div_imgs {
    width: 520px;
    height: 450px;
}
.main_part .container .bottom_part {
    width: 100%;
    height: auto;
}
.main_part .container .bottom_part .div {
    width: 500px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main_part .container .bottom_part .div .div_card {
    position: relative;
    width: 345px;
    height: 255px;
}
.main_part .container .bottom_part .div .div_card .color {
    color: #5c0e62;
}
.main_part .container .bottom_part .div .div_card .h2 {
    color: #857885;
}
.main_part .container .bottom_part .div .div_card .gradient {
    background-image: url(../images/mini_gradient.svg);
    width: 80px;
    height: 85px;
    background-repeat: no-repeat;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
}
.main_part .container .bottom_part .div .div_card h5 {
    color: #e23434;
}
.main_part .container .bottom_part .image-grid {
    width: 900px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.page4_text,
.page4_carousel {
    height: 380px;
}

.page4_text {
    display: flex;
    align-items: last baseline;
    justify-content: end;
}

.final-2 {
    text-align: center;
}

.final-1 {
    width: 100%;
}

.page4 {
    background-color: #f8f8f8;
    background-image: url(./images/Rectangle5.png);
    width: 100%;
    height: 155vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.page4_text,
h2 {
    color: white;
}

.page4_text,
h2 {
    font-family: "Roboto";
    font-size: 44px;
    letter-spacing: 3px;
}

.page4_carousel h2 {
    font-size: 10px;
}

span {
    color: rgb(98, 1, 67);
}

.paragraph1 {
    color: #fff;
    font-size: 13px;
    margin: 27px 0 0 0;
}

.page4_carousel {
    position: relative;
}

.page4_carousel h3 {
    font-size: 20px !important;
}

.page4_carousel .paragraph2 {
    text-align: center;
    color: white;
    font-family: "Roboto";
}

.page4_carousel .leo_maynus {
    color: #ffbc51;
    font-size: 25px;
    font-family: "Roboto";
}

.ceo {
    color: #ffbc51;
    font-size: 20px;
}

.page4_carousel .img1 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    left: 215px;
    top: -140px;
}

.page4_carousel .img2 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    right: -55px;
    top: -200px;
}

.page4_carousel .img3 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 76px;
    height: 76px;
    right: -10px;
    top: 30px;
}

.page4_carousel .img4 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    right: 180px;
    bottom: 0;
}

.page4_carousel .img5 {
    position: absolute;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    width: 65px;
    height: 65px;
    right: -50px;
    bottom: 10px;
}

.square {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1101px;
    height: 182px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: -10%;
    left: 10%;
}

.square h1 {
    font-family: "Roboto";
    color: rgb(93, 93, 93);
    font-size: 40px;
}

button {
    width: 222px;
    height: 50px;
    border-radius: 5px;
    background-color: #ffbc51;
    color: white;
    border: none;
}

footer {
    max-width: 100%;
    min-height: 88vh;
    background-color: #210933;
    position: relative;
}

.icons {
    font-size: 30px;
    color: #857885;
    margin: 25px 0 25px 0;
    display: flex;
    justify-content: space-between;
}

.logo-items {
    display: flex;
}

.paragraph {
    color: #857885;
    letter-spacing: 3px;
}

.footer_items {
    display: flex;
    max-width: 70%;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 200px;
    color: white;
}

.footer_items_item {
    font-family: "Roboto", sans-serif;
}

.footer_items_item h4 {
    font-weight: 40px;
    padding-bottom: 35px;
}

.footer_items_item p {
    color: #857885;
}

.main_part .container .div img:active {
    cursor: grabbing;
}
.main_part .container .bottom_part .div img {
    display: inline;
}

@media (max-width: 900px) {
    footer .footter square {
        display: none;
        z-index: -1;
    }
}
@keyframes mymove {
    25% {
        left: 0px;
    }
    50% {
        left: 100px;
    }
    75% {
        right: -100px;
    }
    100% {
        right: 0px;
    }
}

